.home-panel {
    width: 1000px;
    margin: auto;
    @media screen and (max-width: 800px) {
        width: 100vw;
    }
    .article-panel {
        .article-item {
            position: relative;
            background: #fff;
            border-bottom: 1px solid #f8f8f8;
            margin: 12px 0;
            padding: 15px;
            box-shadow: 0 2px 15px #f8f8f8;
            border-radius: 3px;
            .user-panel {
                display: flex;
                align-items: center;
                .user-avatar {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                }
                .user-info {
                    margin-left: 10px;
                    .user-nickname {
                        font-size: 15px;
                        font-weight: 500;
                        color: #000000;
                    }
                    .create-time {
                        font-size: 12px;
                        font-weight: 300;
                        color: #747474;
                    }
                }
            }
            .article-info {
                .article-title {
                    padding-top: 10px;
                    color: #000000;
                    font-size: 16px;
                    font-weight: bold;
                }
                .article-content {
                    font-size: 13px;
                    padding-top: 4px;
                    display: -webkit-box; 
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
            .like-reading-panel {
                position: absolute;
                right: 15px;
                top: 15px;
                .like-reading-item {
                    display: inline-block;
                    margin-left: 10px;
                    span {
                        margin-left: 4px;
                    }
                }
            }
        }
    }
}