.index-panel {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: .3s all;
    &.dark {
        background: #07C160;
    }
    &.light {
        background: #121314;
    }
    .change-theme {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .index-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80vw;
        .author-avatar {
            margin-bottom: 50px;
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
        h1, h3, p {
            color: #fff;
        }
    }
}