.index-panel {
    .index-bg {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
    // .change-theme {
    //     position: absolute;
    //     right: 20px;
    //     top: 20px;
    //     z-index: 1;
    // }
    .index-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80vw;
        .author-avatar {
            margin-bottom: 40px;
            img {
                width: 5.4rem;
                height: 5.4rem;
                border-radius: 50%;
            }
        }
        .index-btn {
            margin-top: 30px;
            &.btn-right {
                margin-right: 10px;
            }
            &.btn-left {
                margin-left: 10px;
            }
        }
        @media screen and (min-width: 1024px)  {
            h1 { font-size: 44px; }
            h3 { font-size: 28px; }
            p { font-size: 22px; }
        }
    }
    .index-links {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100px;
        z-index: 1;
        width: 300px;
        display: flex;
        margin: auto;
        .link {
            width: 50px;
            margin: auto;
            text-align: center;
            font-size: 1.2rem;
        }
    }
}

h1, h3, p, .link {
    color: #fff;
}
