.weather {
  position: fixed;
  left: 30px;
  bottom: 30px;
  display: inline-block;
  width: 180px;
  height: 240px;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
}

.weather.sunny:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: #F6D963;
  border-radius: 50%;
  box-shadow: 0 0 20px #ff0;
  z-index: 2;
}

.weather.sunny:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -45px 0 0 -45px;
  width: 90px;
  height: 90px;
  background: #FFEB3B;
  clip-path: polygon(50% 0%, 64.43% 25%, 93.3% 25%, 78.87% 50%, 93.3% 75%, 64.43% 75%, 50% 100%, 35.57% 75%, 6.7% 75%, 21.13% 50%, 6.7% 25%, 35.57% 25%);
  z-index: 1;
  animation: sunScale 2s linear infinite;
}

@keyframes sunScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.weather.dark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: #eee;
  border-radius: 50%;
  box-shadow: #eee 22px -15px 0 6px, #eee 57px -6px 0 2px,  #eee 87px 4px 0 -4px, #eee 33px 6px 0 6px, #eee 61px 6px 0 2px, #ccc 29px -23px 0 6px, #ccc 64px -14px 0 2px, #ccc 94px -4px 0 -4px;
  z-index: 2;
}

.weather.dark:before {
  animation: cloudMove 2s linear infinite;
}

@keyframes cloudMove {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
