#header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  box-shadow: #f0f1f2 0px 2px 8px;
  background: white;
}

#header .am-row {
  position: relative;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  zoom: 1;
}

#header .am-row::before {
  display: table;
  content: "";
}

#header .am-row #logo {
  float: left;
  height: 64px;
  padding-left: 40px;
  line-height: 64px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

#header .am-row #logo img {
  height: 32px;
}

#header .am-row #logo img:first-child {
  border-radius: 50%;
  margin-right: 15px;
}

#header .am-row #search-box {
  float: left;
  height: 22px;
  margin: 22px auto 0;
  padding-left: 16px;
  line-height: 22px;
  border-left: 1px solid #ebedf0;
}

#header .am-row #search-box .anticon {
  position: relative;
  top: .5px;
  color: #ced4d9;
}

#header .am-row #search-box input {
  width: 200px;
  margin-top: -5px;
  font-size: 14px;
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#header .am-row #nav {
  float: right;
  margin-right: 40px;
}

#header .am-row #nav.ant-menu-horizontal {
  border-bottom: none;
}

#header .am-row #nav.ant-menu-horizontal .ant-menu-item, #header .am-row #nav.ant-menu-horizontal .ant-menu-submenu {
  min-width: 72px;
  height: 64px;
  line-height: 60px;
  border-top: 2px solid transparent;
}
