#header {
    position: relative;
    z-index: 10;
    max-width: 100%;
    // box-shadow: rgb(240, 241, 242) 0px 2px 8px;
    background: rgb(255, 255, 255);
    .am-row {
        position: relative;
        height: auto;
        margin-right: 0px;
        margin-left: 0px;
        zoom: 1;
        &::before {
            display: table;
            content: "";
        }
        #logo {
            float: left;
            height: 64px;
            padding-left: 40px;
            line-height: 64px;
            white-space: nowrap;
            overflow: hidden;
            text-decoration: none;
            img {
                height: 32px;
                // border-radius: 50%;
                &:first-child {
                    border-radius: 50%;
                    margin-right: 15px;
                }
            }
        }
        #search-box {
            float: left;
            height: 22px;
            margin: 22px auto 0;
            padding-left: 16px;
            line-height: 22px;
            border-left: 1px solid #ebedf0;
            .anticon {
                position: relative;
                top: .5px;
                color: #ced4d9;
            }
            input {
                width: 200px;
                margin-top: -5px;
                font-size: 14px;
                background: transparent;
                border: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
        #nav {
            float: right;
            margin-right: 40px;
            &.ant-menu-horizontal {
                border-bottom: none;
                .ant-menu-item, .ant-menu-submenu {
                    min-width: 72px;
                    height: 64px;
                    line-height: 60px;
                    border-top: 2px solid transparent;
                }
            }
        }
    }
}