.home-panel {
  background: #f8f8f8;
  width: 1000px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .home-panel {
    width: 100vw;
  }
}

.home-panel .article-panel .article-item {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #f8f8f8;
  margin-bottom: 10px;
  padding: 15px;
}

.home-panel .article-panel .article-item .user-panel {
  display: flex;
  align-items: center;
}

.home-panel .article-panel .article-item .user-panel .user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.home-panel .article-panel .article-item .user-panel .user-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.home-panel .article-panel .article-item .user-panel .user-info {
  margin-left: 10px;
}

.home-panel .article-panel .article-item .user-panel .user-info .user-nickname {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}

.home-panel .article-panel .article-item .user-panel .user-info .create-time {
  font-size: 12px;
  font-weight: 300;
  color: #747474;
}

.home-panel .article-panel .article-item .article-info .article-title {
  padding-top: 10px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

.home-panel .article-panel .article-item .article-info .article-content {
  font-size: 13px;
  padding-top: 4px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.home-panel .article-panel .article-item .like-reading-panel {
  position: absolute;
  right: 15px;
  top: 15px;
}

.home-panel .article-panel .article-item .like-reading-panel .like-reading-item {
  display: inline-block;
  margin-left: 10px;
}

.home-panel .article-panel .article-item .like-reading-panel .like-reading-item span {
  margin-left: 4px;
}
